INFS3204-Service-Oriented Architecture/prac2/Country Code Finder/Country Code Finder/Web References/CountryCodeFinderRef/Country Code Finder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="dispalyTime">
        <s:complexType />
      </s:element>
      <s:element name="dispalyTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dispalyTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="dispalyTimeSoapIn">
    <wsdl:part name="parameters" element="tns:dispalyTime" />
  </wsdl:message>
  <wsdl:message name="dispalyTimeSoapOut">
    <wsdl:part name="parameters" element="tns:dispalyTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="Country_Code_Finder1Soap">
    <wsdl:operation name="dispalyTime">
      <wsdl:input message="tns:dispalyTimeSoapIn" />
      <wsdl:output message="tns:dispalyTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Country_Code_Finder1Soap" type="tns:Country_Code_Finder1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dispalyTime">
      <soap:operation soapAction="http://tempuri.org/dispalyTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Country_Code_Finder1Soap12" type="tns:Country_Code_Finder1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dispalyTime">
      <soap12:operation soapAction="http://tempuri.org/dispalyTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Country_Code_Finder1">
    <wsdl:port name="Country_Code_Finder1Soap" binding="tns:Country_Code_Finder1Soap">
      <soap:address location="http://localhost:59703/Country%20Code%20Finder.asmx" />
    </wsdl:port>
    <wsdl:port name="Country_Code_Finder1Soap12" binding="tns:Country_Code_Finder1Soap12">
      <soap12:address location="http://localhost:59703/Country%20Code%20Finder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>