INFS3204-Service-Oriented Architecture/prac3/WebApplication1/WebApplication1/Service References/ServiceReference1/Australian_Postcode_Validation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Australian_Postcode_Validation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49497/Australian Postcode Validation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49497/Australian Postcode Validation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAustralian_Postcode_Validation_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IAustralian_Postcode_Validation_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IAustralian_Postcode_Validation_PostcodeValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:PostcodeValidation" />
  </wsdl:message>
  <wsdl:message name="IAustralian_Postcode_Validation_PostcodeValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostcodeValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IAustralian_Postcode_Validation_SaveInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInfo" />
  </wsdl:message>
  <wsdl:message name="IAustralian_Postcode_Validation_SaveInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAustralian_Postcode_Validation">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IAustralian_Postcode_Validation/DoWork" message="tns:IAustralian_Postcode_Validation_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAustralian_Postcode_Validation/DoWorkResponse" message="tns:IAustralian_Postcode_Validation_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostcodeValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAustralian_Postcode_Validation/PostcodeValidation" message="tns:IAustralian_Postcode_Validation_PostcodeValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAustralian_Postcode_Validation/PostcodeValidationResponse" message="tns:IAustralian_Postcode_Validation_PostcodeValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAustralian_Postcode_Validation/SaveInfo" message="tns:IAustralian_Postcode_Validation_SaveInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAustralian_Postcode_Validation/SaveInfoResponse" message="tns:IAustralian_Postcode_Validation_SaveInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAustralian_Postcode_Validation" type="tns:IAustralian_Postcode_Validation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IAustralian_Postcode_Validation/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostcodeValidation">
      <soap:operation soapAction="http://tempuri.org/IAustralian_Postcode_Validation/PostcodeValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInfo">
      <soap:operation soapAction="http://tempuri.org/IAustralian_Postcode_Validation/SaveInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Australian_Postcode_Validation">
    <wsdl:port name="BasicHttpBinding_IAustralian_Postcode_Validation" binding="tns:BasicHttpBinding_IAustralian_Postcode_Validation">
      <soap:address location="http://localhost:49497/Australian%20Postcode%20Validation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>