INFS3204-Service-Oriented Architecture/prac2/Color Mixer/Color Mixer/Web References/ColorMixerRef/Color Mixer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Mix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="color1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="color2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MixSoapIn">
    <wsdl:part name="parameters" element="tns:Mix" />
  </wsdl:message>
  <wsdl:message name="MixSoapOut">
    <wsdl:part name="parameters" element="tns:MixResponse" />
  </wsdl:message>
  <wsdl:portType name="Color_MixerSoap">
    <wsdl:operation name="Mix">
      <wsdl:input message="tns:MixSoapIn" />
      <wsdl:output message="tns:MixSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Color_MixerSoap" type="tns:Color_MixerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mix">
      <soap:operation soapAction="http://tempuri.org/Mix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Color_MixerSoap12" type="tns:Color_MixerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mix">
      <soap12:operation soapAction="http://tempuri.org/Mix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Color_Mixer">
    <wsdl:port name="Color_MixerSoap" binding="tns:Color_MixerSoap">
      <soap:address location="http://localhost:50193/Color%20Mixer.asmx" />
    </wsdl:port>
    <wsdl:port name="Color_MixerSoap12" binding="tns:Color_MixerSoap12">
      <soap12:address location="http://localhost:50193/Color%20Mixer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>