INFS3204-Service-Oriented Architecture/prac2/Color Mixer/Color Mixer/Web References/ColortoCodConvertorRef/Color to Code Convertor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Convert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertSoapIn">
    <wsdl:part name="parameters" element="tns:Convert" />
  </wsdl:message>
  <wsdl:message name="ConvertSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertResponse" />
  </wsdl:message>
  <wsdl:portType name="Color_to_Code_ConvertorSoap">
    <wsdl:operation name="Convert">
      <wsdl:input message="tns:ConvertSoapIn" />
      <wsdl:output message="tns:ConvertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Color_to_Code_ConvertorSoap" type="tns:Color_to_Code_ConvertorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Convert">
      <soap:operation soapAction="http://tempuri.org/Convert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Color_to_Code_ConvertorSoap12" type="tns:Color_to_Code_ConvertorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Convert">
      <soap12:operation soapAction="http://tempuri.org/Convert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Color_to_Code_Convertor">
    <wsdl:port name="Color_to_Code_ConvertorSoap" binding="tns:Color_to_Code_ConvertorSoap">
      <soap:address location="http://localhost:50193/Color%20to%20Code%20Convertor.asmx" />
    </wsdl:port>
    <wsdl:port name="Color_to_Code_ConvertorSoap12" binding="tns:Color_to_Code_ConvertorSoap12">
      <soap12:address location="http://localhost:50193/Color%20to%20Code%20Convertor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>